<div class="top-wrapper">
  <div class="container">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img"></h2>
        <p class="logo-explanation">
          エモい画像を投稿・検索しよう！
          <br>
        </p>
      </div>

      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn button_h1 w-100" %>
      </div>
      <% end %>

      <%= render "devise/sessions/testuser" %>
      <br>

      <p class="devise-link">
        アカウントをお持ちでないですか？
        <%= link_to "新規登録", new_user_registration_path %>
      </p>

    </div>

    <div class="content-wrap">
      <div class="container"></div>
    </div>
  </div>
</div>
